.menu-item {
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color ease-in-out 200ms;
  color: var(--text-color);

  &.active {
    color: var(--primary);

    .active-icon {
      display: flex;
    }

    .icon {
      display: none;
    }
  }

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

.title {
  margin-left: 10px;
}

.icon,
.active-icon {
  display: flex;
}

.active-icon {
  display: none;
}
